<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
									Hello! I'm Nagib Gonzalez, a Data Scientist based in New York with a distinct passion for the intersection of data, technology, and finance. My fascination with data science began when I stumbled upon a New York Times article about quantitative trading on Wall Street and discovered the power and influence of automated trades. Intrigued by the potential of using data to guide financial decisions, I dove into the rabbit hole of quantitative finance and emerged with a passion for data science.
								  </p>
								  <p>
									Since then, I've developed expertise in areas such as machine learning, deep learning, and statistical analysis, and applied these skills to drive insights from data and develop data-driven solutions. I thrive in diving into complex datasets, uncovering hidden patterns, and using these insights to influence strategic decisions.
								  </p>
								  <p>
									My background in Real Estate has honed my problem-solving abilities, allowing me to help data-driven companies improve their efficiency. I'm excited by new challenges, always seeking opportunities to learn, and ready to make significant contributions in the realm of data science. Welcome to my portfolio, where you can learn more about my projects, experiences, and skills.
			

      </div>
    </div>
  </div>
</section>
